<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Statistic</ion-title>
    <ion-button slot="end" color="dark" fill="clear" (click)="toggleDatepicker()">
      <ion-icon name="calendar"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngLet="chart$ | async as chart">
  <div class="chart-related">
    <div class="chart-wrapper">
      <app-chart [chart]="chart"></app-chart>
    </div>
  </div>
  <div class="statistic-list" *ngIf="!!chart">
    <div *ngIf="chart.labels.length > 0; else noDataItem">
      <ion-list>
        <ion-item *ngFor="let type of chart.labels; let i = index">
          <ion-label>{{ type }}</ion-label>
          {{ convertTime(chart.data[i]) }}
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ng-template #noDataItem>
    <ion-item>
      There is no data. Try to point other dates
    </ion-item>
  </ng-template>
</ion-content>

<ion-footer>
  <div #dateFilter class="filter-wrapper">
    <app-date-filter [isFilterVisible]="isCalendarVisible"></app-date-filter>
  </div>
</ion-footer>
