<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Statistic</ion-title>
    <ion-button
      slot="end"
      color="dark"
      fill="clear"
      (click)="isCalendarVisible = !isCalendarVisible"
    >
      <ion-icon name="calendar"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="chart$ | async as chart">
  <ion-item *ngIf="isCalendarVisible">
    <ion-label>From</ion-label>
    <ion-datetime
      placeholder="Start Date"
      displayFormat="YYYY DD MMMM HH:mm"
      (ionChange)="handleStartDateChange($event.target.value)"
    ></ion-datetime>
  </ion-item>
  <div *ngIf="chart.labels.length > 0; else noDataItem">
    <div style="display: block">
      <canvas
        baseChart
        [data]="chart.data"
        [labels]="chart.labels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="chart.colors"
      >
      </canvas>
    </div>
  </div>
  <ng-template #noDataItem>
    <ion-item>
      There is no data. Try to point other dates
    </ion-item>
  </ng-template>
</ion-content>
