.fullwidth-line-wrapper {
  padding: 1% 0 0 1%;
  .type-button-container {
    width: 100%;

    .type-button {
      width: calc(49% - 2px);
    }
  }
}

.overloaded-activities-wrapper {
  padding-left: 1%;
}

.type-button-container {
  width: calc(100% - 50px);
}

.type-button {
  width: 48%;
  display: inline-block;
  float: left;
  padding: 0 2px 2px 0;
}

.type-input-toggle {
  top: -1px;
  position: absolute;
  width: 50px;
  height: 80px;
}
