<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Time Tracking System
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="state$ | async as state">
    <app-idle
            *ngIf="isInIdle(state.status)"
            [record]="record"
            (predefinedType)="buttonClick(state.status)">
    </app-idle>
    <app-perform
            *ngIf="isInPerform(state.status)"
            [record]="record">
    </app-perform>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button
                *ngIf="(state$ | async) as state"
                color="dark"
                fill="solid"
                expand="full"
                [disabled]="!record.type && isInIdle(state.status)"
                (click)="buttonClick(state.status)">
            {{ isInIdle(state.status) ? 'start' : 'stop' }}
        </ion-button>
        <ion-progress-bar *ngIf="isInProgress$ | async" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
</ion-footer>