<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Time Tracking System
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-idle
            *ngIf="isInIdle((state$ | async).status)"
            [record]="record">
    </app-idle>
    <app-perform
            *ngIf="isInPerform((state$ | async).status)"
            [record]="record">
    </app-perform>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button
                *ngIf="(state$ | async) as state"
                color="dark"
                fill="solid"
                expand="full"
                (click)="buttonClick(state.status)">
            {{ state.status }}
        </ion-button>
        <ion-progress-bar *ngIf="isInProgress$ | async" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
</ion-footer>