<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Time Tracking System
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div>idle</div>
    <div>performing</div>
<!--    <ion-list>-->
<!--        <ion-radio-group [(ngModel)]="type">-->
<!--            <ion-list-header *ngIf="isActivityTypeExist()">-->
<!--                <ion-label>Chose type of your activity</ion-label>-->
<!--            </ion-list-header>-->

<!--            <ion-item *ngFor="let activity of activityTypes">-->
<!--                <ion-label>{{activity}}</ion-label>-->
<!--                <ion-radio slot="end" [value]="activity" (ionSelect)="unselectCustomType()"></ion-radio>-->
<!--            </ion-item>-->

<!--            <ion-item>-->
<!--                <ion-input-->
<!--                        class="custom-type-input"-->
<!--                        clear-input="true"-->
<!--                        placeholder="Put new activity type"-->
<!--                        [(ngModel)]="customType"-->
<!--                        (ionFocus)="selectNewActivityInput()"></ion-input>-->
<!--                <ion-radio-->
<!--                        *ngIf="isActivityTypeExist()"-->
<!--                        slot="end"-->
<!--                        [value]="customType"-->
<!--                        [checked]="customTypeChecked">-->
<!--                </ion-radio>-->
<!--            </ion-item>-->

<!--        </ion-radio-group>-->
<!--    </ion-list>-->

<!--    <ion-item>-->
<!--        <ion-textarea-->
<!--                [(ngModel)]="description"-->
<!--                placeholder="What we plan to do?"-->
<!--                clearOnEdit="true">-->
<!--        </ion-textarea>-->
<!--    </ion-item>-->

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button
                *ngIf="(state$ | async) as state"
                color="dark"
                fill="solid"
                expand="full"
                (click)="buttonClick(state.status)">
            {{ state.status }}
        </ion-button>
        <ion-progress-bar *ngIf="isInProgress$ | async" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
</ion-footer>