<ion-list lines="none">
  <ion-item>
    <ion-range
      pin
      [appStyle]="hueStyle()"
      [(ngModel)]="color.hue"
      min="0"
      max="360"
    ></ion-range>
  </ion-item>
  <ion-item>
    <ion-range
      pin
      [appStyle]="saturationStyle()"
      [(ngModel)]="color.saturation"
      min="0"
      max="100"
    ></ion-range>
  </ion-item>
  <ion-item>
    <ion-range
      pin
      [appStyle]="luminanceStyle()"
      [(ngModel)]="color.luminance"
      min="0"
      max="100"
    ></ion-range>
  </ion-item>
</ion-list>
