<div class="idle-container" *ngIf="getState$() | async as state">
    <ion-input
            class="custom-type-input"
            clear-input="true"
            placeholder="Enter new activity type"
            [value]="state.type"
            (ionChange)="updateType($event.target.value)">
    </ion-input>
    <ion-button *ngFor="let type of types"
                (click)="applyActivityType(type)">
        {{type}}
    </ion-button>
</div>

<ion-footer>
    <ion-toolbar *ngIf="getState$() | async as state">
        <ion-button
                color="dark"
                fill="solid"
                expand="full"
                [disabled]="!state.type"
                (click)="applyActivityType(state.type)">
            Start
        </ion-button>
    </ion-toolbar>
</ion-footer>