<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Time Tracking System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="state$ | async as state">
  <app-perform *ngIf="isPerform(state.status)" [state]="state"></app-perform>
</ion-content>

<ion-footer *ngIf="state$ | async as state">
  <ion-toolbar>
    <app-activity-footer [state]="state"></app-activity-footer>
  </ion-toolbar>
</ion-footer>
