<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Time Tracking System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="state$ | async as state">
    <ion-item>
      <ion-label>
        {{state.type}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!!state.date">
      <app-stopwatch></app-stopwatch>
    </ion-item>
    <ion-item>
      <!-- TODO: grab placeholder from const (probably it could be in configs)-->
      <ion-textarea
        placeholder="What we plan to do?"
        clearOnEdit="true"
        [value]="state.description"
        (ionChange)="updateDescription($event.target.value)"
      >
      </ion-textarea>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="state$ | async as state">
    <!-- TODO: temporary there will be input as in previous approach; in future it will be moved to the separate modal dialog-->
    <ion-input
      #typeInput
      [hidden]="false"
      class="custom-type-input"
      clear-input="true"
      placeholder="Enter new activity type"
      [value]="state.type"
      (ionChange)="updateType($event.target.value)"
    >
    </ion-input>
    <app-type-selector
      [types]="types$ | async"
      (typeSelect)="isActive(state.status) ? switchActivity($event): applyActivityType($event)"
    ></app-type-selector>

    <div class="footer-btns-container">
      <ion-button
        class="activity-toggle"
        color="dark"
        fill="solid"
        expand="full"
        [disabled]="!state.type && !isActive(state.status)"
        (click)="isActive(state.status) ? completeActivity() : applyActivityType(state.type)"
      >
        {{ isActive(state.status) ? 'Stop' : 'Start' }}
      </ion-button>
      <ion-button class="activity-search-toggle" color="dark" expand="full">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </div>

    <ion-progress-bar *ngIf="false" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-footer>
